

.illustration_title {
    color: $dark;
    text-decoration: none;
    font-family: museo-sans;
    font-weight: 700;    
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-align: center;
        @media all and (max-width:415px) {
        font-size: 25px;
        }
        @media all and (min-width:416px) and (max-width:768px) {
        font-size: 25px;     
        }
        @media all and (min-width:769px){
        font-size: 3vw;
        }    
}

.illustrations_container {    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;      
}

.illustration_image {
    width: 25vw;
        @media all and (max-width:415px) {
        width: 80vw;
        margin-top: 10vw;
        }
        @media all and (min-width:416px) and (max-width:768px) {
        width: 80vw;
        margin-top: 10vw;      
        }
        @media all and (min-width:769px){
        width: 25vw;
        }        
}

.illustration_image_filler {   
    @media all and (max-width:415px) {
    display: none;   
    } 
    @media all and (min-width:416px) and (max-width:768px) {
    display: none;       
    }
    @media all and (min-width:769px){
    width: 25vw;
    }    
}

