

.illustration_title {
    color: $dark;
    text-decoration: none;
    font-family: museo-sans;
    font-weight: 700;    
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;    
        @media all and (max-width:415px) {
        font-size: 25px;
        margin-bottom: 3vh;
        }
        @media all and (min-width:416px) and (max-width:768px) {
        font-size: 25px;
        margin-bottom: 5vh;         
        }
        @media all and (min-width:769px){
        font-size: 3vw;
        margin-bottom: 6vh;
        }    
}

.illustrations_container {    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;      
}

.illustration_image {
    width: 25vw;
        @media all and (max-width:415px) {
        width: 80vw;
        margin-bottom: 10vw;
        }
        @media all and (min-width:416px) and (max-width:768px) {
        width: 80vw;
        margin-bottom: 10vw;      
        }
        @media all and (min-width:769px){
        width: 25vw;
        }        
}

.illustration_image_filler {   
    @media all and (max-width:415px) {
    display: none;   
    } 
    @media all and (min-width:416px) and (max-width:768px) {
    display: none;       
    }
    @media all and (min-width:769px){
    width: 25vw;
    }    
}

.lower_section {
    @media all and (max-width:415px) {        
        margin-top: 3vh;
        }
        @media all and (min-width:416px) and (max-width:768px) {        
        margin-top: 5vh;         
        }
        @media all and (min-width:769px){        
        margin-top: 6vh;
        }    
}

.line_container {
    display: flex;
    justify-content: center;
    .illustration_horizontal_line {            
        @media all and (min-width:769px){
            display: none;
        }
        border: none;
        background-color: $dark;
        height: 2px;
        width: 80%;
        margin-top: 5px;
        margin-bottom: 15px;
        opacity: 1;  
    }
    }