
.page_slice {
    display: flex;    
    padding-left: 5%;
    padding-right: 5%;       
    @media all and (max-width:415px){
    flex-direction: column;
    margin-bottom: 30px;    
    }
    @media all and (min-width:416px) and (max-width:768px){    
    align-items: center;
    margin-bottom: 30px;  
    }
    @media all and (min-width:769px){
    align-items: center;
    margin-bottom: 50px;   
    }        

    .page_slice_side_a {
        height: 100%;        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;        
        @media all and (max-width:415px){
            width: 100%;            
        }
        @media all and (min-width:416px) and (max-width:768px){
            width: 40%;
        }
        @media all and (min-width:769px){
            width: 40%;   
        }
    }   

    .page_slice_side_b {        
        height: 100%;
        display: flex;
        flex-direction: column;        
        @media all and (max-width:415px){
            width: 100%;
        }
        @media all and (min-width:416px) and (max-width:768px){
            width: 50%;
        }
        @media all and (min-width:769px){
            width: 50%;  
        }
    }
    
    .description_text {
        color: $dark;
        text-decoration: none;
        font-family: museo-sans;
        font-weight: 300;
        text-align: center;
        @media all and (max-width:415px){
            font-size: 15px;
            margin-top: 15px;
        }
        @media all and (min-width:416px) and (max-width:768px){
            font-size: 2vw;
            margin: 10px;
        }
        @media all and (min-width:769px){
            font-size: 2vw;
            margin-top: 10px; 
        }        
    }
    
    .logo_explain_text {        
        font-family: museo-sans;
        font-weight: 500;
        color: $dark;

        @media all and (max-width:415px) {
        font-size: 1rem;
        line-height: 1.5rem;
        }

        @media all and (min-width:416px) and (max-width:768px) {            
            font-size: 1rem;
            line-height: 1.8rem;
        }

        @media all and (min-width:769px) {
            font-size: 1.5rem;
            line-height: 2.2rem;
        }        
    }  
    
    .page_vertical_line {
        border: none;
        background-color: $dark;       
        width: 3px;
        margin-right: 25px;
        margin-left: 25px;
        opacity: 1;
        @media all and (max-width:415px){
            display: none;
        }
        @media all and (min-width:416px) and (max-width:768px){
            height: 250px;
        }
        @media all and (min-width:769px){
            height: 300px;    
        }         
        
    }
    
    .page_horizonal_line {
        @media all and (min-width:416px) and (max-width:768px){
            display: none;
        }
        @media all and (min-width:769px){
            display: none;
        }
        border: none;
        background-color: $dark;
        height: 3px;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 15px;
        opacity: 1;    
    }
    

    .wide_logo {        
        @media all and (max-width:415px){
            width: 60vw;
        }
        @media all and (min-width:769px){
            width: 20vw;
        } 
    }
    
    .high_logo {        
        @media all and (max-width:415px){
            height: 50vw;
        }
        @media all and (min-width:769px){
            height: 15vw;
        } 
    }     
}